@import url("https://fonts.googleapis.com/css?family=Poppins:wght@200;300;400;500;600;700@display=swap");
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f7f7f7;

}
.wrapper
{
    background: #fff;
    width: 450px;
    border-radius: 16px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
                0 32px 64px -48px rgba(0, 0, 0, 0.5);

}

/* sign up form css */
.form_signup
{
    padding: 25px 30px ;
}
.form_signup header
{
font-size: 25px;
font-weight: 600;
padding-bottom: 10px;
border-bottom: 1px solid #e6e6e6 ;

}
.form_signup form{
    margin: 20px 0;
}
.form_signup form .error_txt{
    color: #721c24;
    background: #F8D7DA;
    padding: 8px 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 10px;
    border: 1px solid #f5c6cb ;

}
.form form .name_details{
    display: flex;

}
form .name_details .field:first-child{
    margin-right: 10px;

}
form .name_details .field:last-child{
    margin-right: 10px;
    
}

.form_signup form .field
{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

}
.form_signup form .field label{
    margin-bottom:2px ;  
}

.form_signup form .field input{
    outline: none;
}

.form_signup form .input input{
    height: 40px;
    width: 100%;
    font-size: 16px;
    padding: 0 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.form_signup form .image input{
font-size: 17px;
}
.form_signup form .button input
{
    margin-top:13px ;
    height: 45px;
    border: none;
    font-size: 17px;
    font-weight: 500;
    background: #333;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;

}
.form_signup .link{
    text-align: center;
    margin: 10px 0;
    font-size: 17px;


}
.form_signup .link a{
    color: #333;

}
.form_signup .link a:hover{
    text-decoration: underline;


}
.form_signup form .field i{
    position: absolute;
    right: 15px;
    color: #ccc;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer
    ;
}
